.root {
	.hero-container {
		height: 300px;
		display: flex;
		align-items: flex-end;
		padding: 20px;
		background-size: cover;

		.hero-content {
			color: #FEFEFE;
			display: flex;
			align-items: center;

			.hero-title {
				font-family: 'Work Sans';
				font-size: 60px;
				margin: 0 10px;
			}
		}
	}

	.button-container {
		display: flex;
		padding: 20px 40px;

		#left-button {
			display: block;
			margin-right: auto;
			font-family: 'Raleway';
		}

		#right-button {
			display: block;
			margin-left: auto;
			font-family: 'Raleway';
		}
	}

	.content {
		padding: 20px 40px;

		h1 {
			font-family: 'Work Sans';
		}

		h2, h3, h4, h5, h6 {
			font-family: 'Raleway';
			font-weight: 100;
		}

		p {
			font-family: 'Karma';
			text-indent: 2em;
		}

		blockquote {
			padding: 0 10px;
			border-left: solid 4px #A7A7A7;
			position: relative;
			margin: 39px 30px 50px;
			
			p {
				color: #7D7D7D;
				font-style: italic;
				text-indent: 0;

				sup a {
					color: #7D7D7D;

					&:hover {
						background-color: #7D7D7D;
					}
				}

				em {
					position: absolute;
					bottom: -30px;
					font-style: normal;
					right: 0;
					font-size: 16px;

					&:before {
						content: '- ',
					}
				}
			}
		}

		img {
			display: block;
			margin: 40px auto 5px;

			& + em {
				display: block;
				text-align: center;
				font-size: 14px;
			}
		}

		:global(.footnotes-sep) {
			margin-top: 35px;
		}

		:global(.footnotes) {
			font-size: 11px;
		}

		a {
			font-size: 12px;
			color: inherit;
		}
	}

	.article-author {
		font-style: italic;
		margin-left: 40px;
		font-size: 10pt;
	}
}
