.root {
	display: flex;
	position: relative;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;

	.timeline {
		padding: 0 20px;
		overflow-y: auto;
		overflow-x: hidden;
		width: 100%;
	}

	.content {
		background-color: white;
		width: 0;
		flex-shrink: 0;
		overflow-y: auto;
		overflow-x: hidden;
		transform: translateX(100%);
		transition: width 250ms, transform 250ms;

		&-open {
			width: 50%;
			transform: unset;
		}
	}
}
