.timeline-root {
	width: 100%;

	.timeline-element {
		cursor: pointer;

		.title {
			font-family: 'Work Sans';
			margin: 5px 0;
		}
		
		.subtitle {
			font-family: 'Raleway';
			margin: 10px 0 20px;
		}

		.section-title {
			font-family: 'Raleway';
			margin: 10px 0 4px;
			font-weight: 100;
			font-size: 16px;
		}

		.section-text {
			font-family: 'Karma';
			margin: 4px 0;
			font-size: 14px;
		}

		&:hover .title {
			text-decoration: underline;
		}
	}
}
